<h1>Primeira Vez?</h1>
<p>Entenda como instalar, usar os componentes, templates e a documentação</p>
<p><a href="/como-comecar/instalacao">Comece aqui</a></p>
<h1>Sobre o Design System</h1>
<p>Unificando a experiência dos cidadãos com o Governo por meio digital</p>
<p><a href="/introducao/sobre">Entada o Design System</a></p>
<h1>Componentes</h1>
<p>Os componentes são um dos principais blocos de construção do sistema de design. Sua reutilização sistemática ajuda a criar consistência visual e funcional entre os produtos</p>
<p><a href="/components/avatar?tab=desenvolvedor">Ver componentes</a></p>
<h1>Explore</h1>
<h6>Confira outros recursos que oferecemos para tornar a utilização do Design System mais simples e descomplicar o desenvolvimento do seu projeto.</h6>
<h4><a href="/downloads/manuais-orientadores">Manuais</a></h4>
<p>Fornecem orientações sobre migração, publicação, SEO, diretrizes, uso da marca do gov.br e guia de transformação digital.</p>
<h4><a href="/fundamentos-visuais/cores">Fundamentos Visuais</a></h4>
<p>São usados na padronização, aparência dos componentes e interfaces que seguem a identidade visual do Design System.</p>
<h4><a href="/padroes/design/ajuda">Padrões</a></h4>
<p>São um conjunto de diretrizes que ajudam o usuário a alcançar um determinado objetivo e garantir a consistência nas interações</p>
<h4><a href="/templates/base?tab=desenvolvedor">Templates</a></h4>
<p>São estruturas predefinidas para serem usadas como modelo na criação de novas interfaces ou projetos.</p>
